
@keyframes colourchange {
    0%   {background-color: #00c8ff;left: 0px;right: 0px;}
    25%  {background-color: #009dff;left: 100px;right: 200px;}
    50%  {background-color: #0033ff;left: 100px;right: 300px;}
    100% {background-color: #008cff;left: 0px;right: 200px;}
}

div {
    border-radius: 1000px;
    width: 100px;
    height: 100px;
    padding: 20px;
    animation: colourchange 5s linear 2s infinite alternate;
}
