

.body{
	background-color:black;
}
.paige{
	position: relative;
	display: block;
	margin: auto;
}

.lips{
	position: absolute;
	top: 28%; left: 50%;
	margin: 0;
	transition:transform 0.5s, opacity 0.2s;
	width:20px;
	height:20px;
	opacity:0;
}
.lips:hover{
	transform: scale(10,10);
	opacity:1;	
}